.find__header .find__header-list {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
}

.find {
  margin-top: 30px;
  padding-top: 25px;
  border-top: 1px solid antiquewhite;
}

.find .find__title {
  margin-bottom: 15px;
  opacity: 0.6;
}

.header-btn__icon {
  margin-bottom: 15px;
  font-size: 25px;
}

.find__header-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friend__add-btn {
  background-color: whitesmoke;
  padding: 10px 10px;
  border-radius: 5px;
}
